name: Update starred repositories
on:
  workflow_dispatch:
  schedule:
  - cron: 30 0 * * *

permissions:
  contents: write

jobs:
  awesome-stars:
    name: Generate awesome list
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Generate formatted README
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_USERNAME: viktorbezdek
      run: python generate_awesome_list.py

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add README.md
        git diff --staged --quiet || git commit -m "update awesome-stars, created by starred"
        git push
